<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="pl.allblue.abbluetoothprinter">
    <!-- Bluetooth -->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH" />-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->
    <!-- Bluetooth - Legacy -->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />-->
    <application>
        <activity
                android:name=".BluetoothDevicesActivity"
                android:label="@string/Bluetooth_BluetoothDevicesActivity_Title">
        </activity>
    </application>
</manifest>
